
@font-face {
  font-family: "badSchoolFontDIN1451W02Engschrift";
  src: url("GymnasiumNeusiedl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN W02 Light";
  src: url("GymnasiumFontLight.woff") format("woff"),
  url("DINOffc-Light.ttf") format("truetype"); /* Add .ttf format */
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-light: #05171e;
  /*--text-light: #dddddd;*/
  --background-light: #ffffff;
  --primary-light: rgba(52, 139, 65, 0.78);
  --secondary-light: #96c5a5;
  --table-head-light: rgba(119, 117, 119, 0.68);
  --accent-light: #e6e7e8;
  --eventBackground-light: #e9e9eb;
  --cancel-light: #b2b3b4;
  --purple-light: #b580c2;
  --untis-purple-light: #a182b2;

  --text-dark: #d3ecf8;
  --background-dark: #161718;
  --primary-dark: #75cc82;
  --secondary-dark: #568666;
  --accent-dark: #383c3f;
  --eventBackground-dark: #1d1e1f;
}
html {
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: "DIN W02 Light", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-light);
  /*background-color: #1d1e20;*/
  color: var(--text-light);
  margin: 0;
  padding: 20px;
  line-height: 1.1;
}
#suppl_text {
  font-family: "DIN W02 Light", Arial, sans-serif;
  background-color: var(--background-light);
  color: var(--text-light);
  margin: 0;
  padding: 20px;
  line-height: 1.1;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--background-light);
  /*background-color: #1d1e20;*/
  margin-top: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}


th,
td {
  border: 1px solid var(--accent-light);
/*  border: 1px solid #404040;*/
  padding: 12px;
  text-align: center;
  font-size: 20px;
  /*background-color: var(--eventBackground-light);*/
  background-color: #1d1e20;;

}


th {
  background: var(--table-head-light);
  color: var(--text-light);
  font-size: 20px;

}

.leer {
  background-color: var(--background-light);
  width: 10%;
}

.supplieren {
  /*color: var(--text-light);*/
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(142, 186, 125, 0.54);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(142, 186, 125, 0.43);
  z-index: -10;
  padding: 20px 20px 20px 20px;
  padding-bottom: 5px;
  /*z-index: 2;*/
  /*background-color: #3c474a;*/
  font-size: 0.75rem;
  /*border-left: 3px solid #b9e5eb;*/
  /*border-radius: 10px;*/
  width: 170px;
  max-width: 170px;
}

.ausfall {
  background-color: var(--cancel-light);
  color: var(--text-light);
  /*font-weight: bold;*/
  padding: 20px;
}

.old {
  color: rgba(0, 0, 0, 0.5);
  /*color: rgba(221, 221, 221, 0.7);*/
}

.error {
}

p {
  font-size: 20px;
  color: var(--text-light);
  margin-top: 0;
}

table {
  border-spacing: 0;
}

s {
  padding-right: 20px;
  font-size: 20px;
  margin-top: 0;
}

#scroll-table {
  height: 100vh;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling in iOS */
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  display: block;
  overflow-y: scroll;
}

#scroll-table::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

#scroll-table thead {
  position: sticky;
  top: 0;
  background: white; /* or any other color */
}

#scroll-table tbody {

}
div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;

}

td, th {
    padding: 5px 20px; /* Adjust as needed */
}

.extra {
  background-color: #e0e0e0; /* Lighter gray background */
  color: #000; /* Black text color */
  font-weight: 700; /* Heavier font weight */
  border: 1px solid #ccc; /* Add border */
  text-transform: uppercase; /* Transform text to uppercase */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.supplieren-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  /* border: 1px solid red; */
}

.supplieren-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.extra-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px; /* Add padding inside the container */
  border: 1px solid #ddd; /* Subtle border for the container */
  border-radius: 5px; /* Rounded corners for the container */
  /* background-color: #f9f9f9; /* Light background color for the container */
  margin: 8px;
  background-color: rgba(142, 186, 125, 0.27);
  border: 1px solid rgba(142, 186, 125, 0.51);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.extra-item {
  padding: 10px; /* Consistent padding for each item */
  margin-right: 50px; /* Space between items */
}

.extra-item:last-child {
  margin-right: 0; /* Remove right margin for the last item */
}

/* Optional: Add a global box-sizing rule for consistent padding and border */
* {
  box-sizing: border-box;
}

.message {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px; /* Add padding inside the container */
  border: 1px solid #ddd; /* Subtle border for the container */
  border-radius: 5px; /* Rounded corners for the container */
  /* background-color: #f9f9f9; /* Light background color for the container */
  margin: 8px;
  background-color: rgba(142, 186, 125, 0.27);
  border: 1px solid rgba(142, 186, 125, 0.51);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.message-div {

}

.ausfall-div
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}
