@font-face {
  font-family: "badSchoolFontDIN1451W02Engschrift";
  src: url("GymnasiumNeusiedl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN W02 Light";
  src: url("GymnasiumFontLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-light: #07202c;
  --background-light: #ffffff;
  --primary-light: #86ad87;
  --secondary-light: #9fc8a1;
  --accent-light: #dddedf;
  --eventBackground-light: #f3f3f4;
  --cancel-light: #444c51;
  --purple-light: #AC6DB9;

  --text-dark: #d3ecf8;
  --background-dark: #161718;
  --primary-dark: #75cc82;
  --secondary-dark: #568666;
  --accent-dark: #383c3f;
  --eventBackground-dark: #1d1e1f;
}
html {
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: "DIN W02 Light", Arial, sans-serif;
  background-color: var(--background-light);
  color: var(--text-light);
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}
#suppl_text {
  font-family: "DIN W02 Light", Arial, sans-serif;
  background-color: var(--background-light);
  color: var(--text-light);
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--background-light);
  margin-top: 20px;
}

th,
td {
  border: 1px solid var(--accent-light);
  padding: 12px;
  text-align: center;
  font-size: 16px;
  background-color: var(--eventBackground-light);
}

th {
  background-color: var(--primary-light);
  color: var(--text-light);
  font-size: 18px;
}

.leer {
  background-color: var(--background-light);
}

.supplieren {
  background-color: var(--secondary-light);
  color: var(--text-light);
  font-weight: bold;
}

.ausfall {
  background-color: var(--cancel-light);
  color: var(--background-light);
  font-weight: bold;
}

.old {
  color: var(--accent-light);
}

.error {

}

p {
  font-size: 18px;
  color: var(--text-light);
  margin-top: 0;
}

table {
  border-spacing: 0;
}

tr:hover {
  background-color: var(--accent-light);
}


#scroll-table {
  height: 100vh;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  display: block;
  overflow-y: scroll;
}

#scroll-table::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

#scroll-table thead {
  position: sticky;
  top: 0;
  background: white; /* or any other color */
}

#scroll-table tbody {

}
